{{#foreach posts}}
    <article class="post">
        <div class="featured-image">
            <a href="{{url}}"><img src="{{image}}"  rel="image_src" alt="{{title}}">
            </a>
        </div>
        <div class="post-content">
            <h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>
            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}"><i class="fa fa-clock-o"></i>{{date published_at format="DD MMMM YYYY г."}}</time>


            <div class="post-text">
                {{content words="80"}}
            </div>

            <div class="post-meta">
                <a href="{{url}}#disqus_thread">Комментарии</a>
            </div>
        </div>
    </article>
{{/foreach}}